/*=============blog==================*/
.blog{
	background: #F2F1EF;
	padding: 70px 0px 55px 0px;
	border-bottom: solid 1px #DFDFDF;
}
.blog p{
	font-size: 20px;
}
.wrapper-blog{
	display: flex;
	flex-flow: wrap row;
	justify-content: flex-start;
}
.blog_block{
	margin: 0px 15px 15px;
	width: calc(100%/12 * 3 - 32px);
	position: relative;
	background: white;
	border: 1px solid silver;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 3px 3px 10px 0 rgba(209, 209, 209, .75);
}

.linkImg a > img {
	max-width: 100%;
	height: auto;
}
.text_block {
	padding: 10px;
}
.top_text_block {
	width: 100%;
	position: absolute;
	top: 140px;
	color: white;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
}
.leftBlock {
	width: 100px;
	height: 30px;
	margin-left: 10px;
}
.rightBlock {
	height: 30px;
	margin-right: 10px;
}
span {
	background: url(../pic/img-sprite.png) 0px 0px no-repeat;
	width: 24px;
	height: 24px;
}
/*==================Adaptiv=============*/
/*992px-1200px*/
@media screen and (max-width: 1220px){
/*=============blog==================*/
	.blog_block {
		margin: 0px 15px 32px;
		width: calc(100%/12 * 4 - 32px);
	}
	.top_text_block {
		top: 155px;
	}
}
/*=====768px-992px=======*/
@media screen and (max-width: 992px){
/*=============blog==================*/
	.blog_block {
		margin: 0px 15px 32px;
		width: calc(100%/12 * 6 - 32px);
	}
	.top_text_block {
		top: 200px;
	}
	.linkImg a > img {
		width: 100%;
	}
}
/*=====576px-768px========*/
@media screen and (max-width: 768px) {
/*=============blog==================*/
	.blog {
		background: #F2F1EF;
		padding: 50px 0px 40px 0px;
	}
	.blog_block {
		width: calc(100% - 32px);
	}
	.top_text_block {
		top: 310px;
	}
}
/*=====350px-576px========*/
@media screen and (max-width: 586px) {
	.top_text_block {
		top: 180px;
	}
}
