*{
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif; 
}
h1 {
	font-size: 25px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
}
h4{
	font: 14px/20px sans-serif;
}
p{
	font-size: 22px;
}
img{
	max-width: 100%;
	height: auto;
}
.header{
	height: 70px;
	background: #282828;
}
.header-wrapper{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}
.logo{    
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	width: 240px;
	height: 70px;
	background: yellow;
}
.logo h2{
	text-align: center;
	line-height: 70px;
}
.navigation{
	width:600px;
	height: 70px;
}
.nav{
	list-style-type: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.drop-nav{
	width: 100%;
	left: 0px;
	background: rgb(40, 40, 40);
	padding-top: 10px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	display: none;
	z-index:1000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.nav a, .drop-nav a{
	display: block;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
	font-size: 23px;
	color: #f8f9fb;
	line-height: 70px;
}
.nav a:hover{
	color: #a8e;
}
/*=============home-page==================*/
.section-home-page{
	display: block;
	width: 100%;
	height: calc(100vh - 70px);
	background: url(../pic/new_background_page_1296_648.png) center center no-repeat;
	background-size: cover;
}
.wrapper-home-page{
	display: block;
	width: 100%;
	height: calc(100vh - 70px);
}
.welcome  {
	z-index: 3;
	position: relative;
	top: calc(50% - 80px);
	width: 700px;
	text-align: center;
	margin: 0px auto;
}
.welcome p{
	color:white;
	font-size: 20px;
	margin-top: 10px;
}
.welcome h1{
	color:white;
}

/*===============Portfolio============ */
.portfolio{
	background: #FEFEFE;
	border-bottom: solid 1px #DFDFDF;
}
.container-portfolio{
	width: 1130px;
	margin: 0px auto;
}
.head{
	text-align: center;
	flex-basis: 100%;
	margin: 70px auto 50px;
}
.wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0px 0px 50px 0px;
	/*margin: 0px -20px;*/
}
.site{
	position: relative;
	width: calc(100%/12 * 4 - 40px);
	height: auto;
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	margin: 20px;
}
.site:hover{
	box-shadow: 0px 0px 5px 5px rgba(170,136,238, 0.9);	
}
.site>a>img{
	width: 100%;
	height: 100%;
	/*opacity: 0.7;*/
} 

/* ============ Contacts ============= */
.contact-section{
	background: #F8F8F8;
	padding: 70px 0px;
}
.container{
	width: 1170px;
	margin: 0px auto;
}
.contact-wrapper{
	/* box-sizing: border-box; */
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*margin: 0px -15px;*/
}
.contact-form{
	border-radius: 10px;
  	text-align: left;
	margin: 0px 15px;
	width: calc(100%/12 * 6 - 30px);
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.2);
}
.form-title{
	text-align: center;
	padding: 20px;
}
.form{
	box-sizing: border-box;
}
.col-12{
	box-sizing: border-box;
	width: calc(100% - 30px);
	margin: 0px 15px 15px;
}
.col-12 input, .col-12 textarea, .btn {
	color: #4d4d4d;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	line-height: 28px;
	font-weight: 600;
	border-radius: 10px;
	border: 1px solid silver;
	padding: 5px 15px;
	outline:none;
}
.btn {
	display: block;
	width: 200px;
	height: 55px;
	text-align: center;
	padding: 0px;
	margin: 0px auto 20px;
	cursor: pointer;
}
.btn:hover{
	background: #333399;
	/*background: #a8e;*/
	color: #fff;
}
/*=========== contacts -> media-block ============*/
.media-block{
	margin: 0px 15px;
	width: calc(100%/12 * 4 - 30px);
}
.media-block>h3{
	text-align: center;
	margin: 20px auto 30px;
}
.contact-info{
	width: 200px;
	height: 48px;
	padding: 0px;
	margin: 0px 0px 20px calc(50% - 100px);
	display: flex;
	justify-content: flex-start;
}
.email-image, telephone-image{
	min-width: 48px;
}
.contact-text{
	margin-left: 20px;
}
.contact-info>a, .contact-text>p, .contact-text>a{
	text-decoration: none;
	display: block;
	font-size: 16px;
}
.contact-text p:nth-of-type(1){
	font-weight: bold;
	font-size: 16px;
}
.media-block .social-block{
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
}
.social-block a{
	margin: 0px 10px;
}
/*==============Footer=============*/
footer{
	height: max-content;
	background: #282828;
	text-align: center;
	color: #fff;
	padding: 20px 0px;
}
.scrollup{
	color: rgba(33,33,33, 0.4);
    	z-index: 999;
    	position: fixed;
    	bottom: 60px;
    	right: 60px;
    	display: none;
    	width: 52px;
    	height: 52px;
    	border-radius: 40px;
}
.scrollup:hover{
	background: rgba(33,33,33, 0.4);
	color: white;
}
.scrollup .fa-3x{
	display: none;
	margin-left: 10px;
	width:32px
}
.scrollup .fa-4x{
	display: inline-block;
	font-size: 4em;
	width: 42px;
	max-height: 42px;
	margin-left: 5px;
	margin-top: -8px;
}

/*==================Adaptiv=============*/
/*992px-1200px*/
@media screen and (max-width: 1230px){
	.navigation{
		width:500px;
	}
	.container{
		width: 940px;
	}
	/*===============Portfolio============ */

	/*===========Connect->contacts============*/
}
@media screen and (max-width: 1010px){
	.scrollup{
		right: 10px;
	}
}
/*=====768px-992px=======*/
@media screen and (max-width: 992px){
	.container{
		width: 750px;
	}
	h1{
		font-size: 22px;
	}
	.logo{
		font-size: 30px;
    		width: 160px;
	}
	.logo h2 {
		font-size: 22px;
	}
	.navigation{
		width: 430px;
	}
	.nav a, .drop-nav a {
		font-size: 20px;
	}
	/*=============home-page==================*/
	.welcome p {
		font-size: 18px;
	}

	/*===============Portfolio============ */
	.container-portfolio{
		width : 720px;
	}
	.site{
		width: calc(100%/12 * 6 - 40px);
	}

	/*============Contacts=============*/
	.contact-form {
		width: calc(100%/12 * 7 - 30px);
	}

	/*===========Connect->contacts============*/
	.media-block {
		width: calc(100%/12 * 4 - 30px);
	}
}
/*=====576px-768px========*/
@media screen and (max-width: 768px) {
	.container{
		width : 530px;
	}
	/*======header=======*/
	.header{
		height: 50px;
	}
	.header-wrapper{
		flex-flow: row-reverse nowrap;
		justify-content: space-between;
	}
	.logo{
		line-height: 50px;
		width: 130px;
		height: 50px;
		font-size: 25px
	}
	.logo h2{
		line-height: 50px;
		font-size: 20px;
	}
	.navigation{
		width: 100px;
		height: 50px;
	}
	/*===========================menu-button=========================*/
	.menu__btn {
	  display: flex;
	  align-items: center;
	  position: absolute;
	  margin: 12px auto;
	  width: 25px;
	  height: 25px;
	  cursor: pointer;
	  z-index: 1;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: yellow;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}
	.nav, .drop-nav {
		display: none;
		position: absolute;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		top: 50px;
	}
	.nav li, .drop-nav li{
		display: block;
		height: 20px;
		width: -moz-available;          /* WebKit игнор. */
		width: -webkit-fill-available;  /* Mozilla игнор. */
		width: fill-available;
		margin: 0px 0px 10px 50px;
	}
	.nav a, .drop-nav a{
		font-size: 20px;
		line-height: 20px;
	}
	.menu__item:hover {
		color: #a8e;;
		text-decoration: underline;
	}

	/*==========welcome===========*/
	.section-home-page{
		height: calc(100vh - 50px);
	}
	.welcome {
		width: 100%;
	}
	/*===============Portfolio============ */
	.site {
		width: calc(100% - 20px);
		margin: 20px 10px;
	}
	/*============Contacts=============*/
	.contact-wrapper{
		flex-flow: row wrap;
	}
	.contact-form, .media-block {
		width: calc(100% - 20px);
		margin: 0px 10px;
	}
	.media-block {
		margin-top: 20px;
	}

	/*================== scrollup==========*/
	.scrollup .fa-3x{
		display: inline-block;
	}
	.scrollup .fa-4x{
		display: none;
	}
}
/*==================-576px========================*/
@media screen and (max-width: 576px) {
	.container{
		width: 350px;
	}
	/*==========welcome===========*/
	/*.section-home-page > .welcome {*/
		/*width: 350px;*/
	/*}*/
}
