*{
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif; 
}
h1 {
	font-size: 25px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
}
h4{
	font: 14px/20px sans-serif;
}
p{
	font-size: 22px;
}
.header{
	height: 70px;
	background: #282828;
	display: flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	flex-wrap: nowrap; /* разрешить перенос строк*/
	justify-content: space-around;
}
.logo{    
	text-align: center;
    	line-height: 70px;
    	font-size: 40px;
    	width: 240px;
    	height: 70px;
    	background: yellow;
}
.logo h2{
	text-align: center;
	line-height: 70px;
}
.navigation{
	width:600px;
	height: 70px;
}
.name-menu{
	display: none;
}
.nav{
	list-style-type: none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.drop-nav{
	width: 100%;
	left: 0px;
	background: rgb(40, 40, 40);
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
	display: none;
	z-index:1000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.nav a, .drop-nav a{
	display: block;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color: #f8f9fb;
	line-height: 70px;
}
.nav a:hover{
	color: #a8e;
}
/*=============home-page==================*/
.welcome_background{
	/*flex-direction: row;  направление главной оси слева на право*/
/* 	justify-content: space-around;
	display: flex;
	transform: scale(0.333); */
	/*transform-origin: left top; откуда трансформирвоатьтся*/
	/*width: 300%;  1/scale */
/* 	height: 1200px;
	background: url(pic/new_background_page_1296_648.png) fixed no-repeat; */
	/* background-size: 300% auto; = width*/
	
	flex-direction: column;
    	justify-content: center;
    	display: flex;
    	width: 100%;
    	height: calc(100vh - 70px);
    	background: url(../pic/new_background_page_1296_648.png) center center no-repeat;
    	background-size: cover;
}
.welcome  {
	z-index: 3;
	position: fixed;
	left: 50%;	
	top: 430px;
    	width: 700px;
      	margin-left: -350px;
	text-align: center;
}
.welcome p{
	color:white;
	font-size: 20px;
	margin-top: 10px;
}
.welcome h1{
	color:white;
}

/*===============Portfolio============ */
.portfolio{
/* 	margin-top: -800px; */
	background: #FEFEFE;
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px #DFDFDF;
}
.head{
	min-height: 150px;
	text-align: center;
    line-height: 150px;
	flex-basis: 100%;
}
.wrapper{
	height: 750px;
	display: flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-evenly;
	padding: 0px 0px 100px 0px;
}
.syte{
	position: relative;
	width: 350px;
	height: 350px;
/* 	background: #ccc; */
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}
.syte:hover{
	box-shadow: 0px 0px 5px 5px rgba(170,136,238, 0.9);	
}
.wrapper .syte > span{
	background: transparent;
    	position: absolute;
    	font: 20px/20px bold sans-serif;
    	top: 50%;
    	left: 50%;
    	width: 200px;
    	margin-left: -100px;
    	text-align: center;
	z-index: 1000;
}
.syte>a>img{
	width: 100%;
	height: 100%;
	opacity: 0.7;
} 

/*============Contacts=============*/ 
.connect{
	background: #F8F8F8;	
	padding: 50px 0px;
}
.connect-block{
	margin: 0px auto;
	display: flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	justify-content: space-evenly;
}
.container{
  	text-align: left;
	width: 500px;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.2);
}
.form-title{
	text-align: center;
	padding: 20px;
}
.input{
	display: block;
	margin: 0 auto 15px auto;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	height: 35px;
	width: 350px;
	padding-left: 10px;
}
.btn{
	display: block;
    width: 100px;
    height: 30px;
    margin: 0px auto 20px auto;
}
/*===========Connect->contacts============*/
.contacts{
	height: 350px;
	width: 500px;
}
.contacts>h3{
  	text-align: left;
  	padding: 20px 0px
  	30px 80px;
}
.email-block{
	background: url(../pic/email.png) 80px top no-repeat;
	height: 48px;
	padding-left: 150px;
	margin-bottom: 30px;
}
.email-block>a, .email-block>p, .tel-block>p{
	text-decoration: none;
	display: block;
	font-size: 16px;
}
.email-block>p, .tel-block p:nth-of-type(1){
	font-weight: bold;
	font-size: 16px;
}
.tel-block {
	background: url(../pic/tel_48.png) 80px top no-repeat;
	height: 48px;
	padding-left: 150px;	
	margin-bottom: 30px;
}
.social-block{
	height: 48px;
	padding-left: 82px;
}
.social-block a{
	margin-right: 15px;
}
/*==============Footer=============*/
footer{
    	height: max-content;
	background: #282828;
	text-align: center;
	color: #fff;
    	padding: 20px 0px;
}
.scrollup{
/* 	color: rgba(33,33,33, 0.4);
    	z-index: 999;
    	width: max-content;
    	height: max-content;
    	position: fixed;
    	bottom: 60px;
    	right: 60px;
    	display: none; */
	
	color: rgba(33,33,33, 0.4);
    	z-index: 999;
    	position: fixed;
    	bottom: 60px;
    	right: 60px;
    	display: none;
    	width: 52px;
    	height: 52px;
/*       border: 1px solid silver; */
    	border-radius: 40px;
}
.scrollup:hover{
	background: rgba(33,33,33, 0.4);
	color: white;
}
.scrollup .fa-3x{
	display: none;
	margin-left: 10px;
	width:32px
}
.scrollup .fa-4x{
	display: inline-block;
	font-size: 4em;
    	width: 42px;
    	max-height: 42px;
    	margin-left: 5px;
    	margin-top: -8px;
}

/*==================Adaptiv=============*/
/*992px-1200px*/
@media screen and (max-width: 1200px){
	.navigation{
		width:500px;
	}
	/*===============Portfolio============ */
	.portfolio{
		flex-direction: column;
	}
	.head{
		height: 150px;
		text-align: center;
	    	line-height: 150px;
		flex-basis: 100%;
	}
	.wrapper{
		margin: 0px auto;
		height: 1150px;
		width: 800px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;
		justify-content: space-between;
		padding: 0px 0px 100px 0px;
	}
	.container{
		width: 400px;
	}
	/*===========Connect->contacts============*/
	.contacts{
		width: 400px;
	}
	.contacts>h3{
  		padding: 20px 0px 30px 80px;
	}
}
@media screen and (max-width: 1010px){
	.scrollup{
		right: 10px;
	}
}
/*=====768px-992px=======*/
@media screen and (max-width: 992px){
	h1{
		font-size: 22px;
	}
	.logo{
		font-size: 30px;
    		width: 160px;
	}
	.logo h2 {
		font-size: 22px;
	}
	.navigation{
		width: 430px;
	}
	.nav a, .drop-nav a {
		font-size: 20px;
	}
	/*=============home-page==================*/
	/*.welcome_background{
    		height: calc(100vh - 70px);
	}*/
	.welcome p {
    		font-size: 18px;
	}
	/*===============Portfolio============ */
	.head{
		height: 150px;
		text-align: center;
	    	line-height: 150px;
		flex-basis: 100%;
	}
	.wrapper{
		width: 750px;
		align-content: space-between;
		justify-content: space-between;
		padding: 0px 0px 100px 0px;
	}
/*============Contacts=============*/ 
	.connect-block{
		width: 750px;
	}
	.container{
		width: 350px;
	}
	.input{
    		margin: 5px auto 10px auto;
    		padding: 5px 10px;
		width: 300px;
	}
	/*===========Connect->contacts============*/
	.contacts{
		height: 350px;
		width: 350px;
	}
}
/*=====576px-768px========*/
@media screen and (max-width: 768px) {
	/*======header=======*/
.header{
	height: 50px;
	flex-direction: row-reverse;  
	justify-content: space-between;
}
.logo{
	line-height: 50px;
        width: 130px;
    	height: 50px;
    	margin-right: 50px;
    	font-size: 25px
}
.logo h2{
	line-height: 50px;
	font-size: 20px;
}
.navigation{
	width: 100px;
	height: 50px;
	margin-left: 50px;
}
/*===========================menu-button=========================*/
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
/*  top: 10px;
  left: 20px;*/
  margin: 12px auto;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: yellow;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.nav, .drop-nav {
	display: none;
	position: absolute;
	flex-direction: column;
	flex-wrap: nowrap; 
	justify-content: space-between;
	top: 50px;
}
.nav li, .drop-nav li{
	display: block;
	height: 20px;
    width: -moz-available;          /* WebKit игнор. */
    width: -webkit-fill-available;  /* Mozilla игнор. */
    width: fill-available;
    margin: 0px 0px 10px 50px;
}
.nav a, .drop-nav a{
	font-size: 20px;
	line-height: 20px;
}
.menu__item:hover {
	color: #a8e;;
	text-decoration: underline;
}
.name-menu{
	display:block;
	color: white;
    	position: absolute;
    	left: 85px;
    	top: 13px;
}
/*==========welcome===========*/
	.welcome_background{
		height: calc(100vh - 50px);
	}
	.welcome  {
		top: 410px;
		width: 576px;
    		margin-left: -288px;
	}
/*===============Portfolio============ */
.portfolio{
	margin-top: 0px;
	flex-wrap: nowrap;
	flex-direction: column;
}
.wrapper{
	height: 2200px;
	width: 350px;
	flex-direction: column;  /*направление главной оси слева на право*/
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0px 0px 100px 0px;
	margin: 0px auto;
}
	
/* .syte{
	width: 350px;
	height: 350px;
	background: red;
	box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}
.syte:hover{
	box-shadow: 0px 0px 5px 5px rgba(170,136,238, 0.9);	
}
.syte>a>img{
	width: 100%;
	height: 100%; 
} */
	
/*============Contacts=============*/ 
/* .connect{
	padding: 100px 0px 50px 0px;
} */
.connect-block{
	flex-direction: column;  /*направление главной оси слева на право*/
	justify-content: space-between;
	width: 350px;
	margin: 0px auto;
}
.container{
	width: 350px;
}
/*===========Connect->contacts============*/
.contacts{
	width: 350px;
}
.contacts>h3 {
    padding: 50px 0px 30px 80px;
}
/*================== scrollup==========*/
.scrollup .fa-3x{
	display: inline-block;
}
.scrollup .fa-4x{
	display: none;
}
}
/*==================-576px========================*/
@media screen and (max-width: 576px) {
	/*==========welcome===========*/
	.welcome_background > .welcome {
		top: 360px;
		width: 350px;
    		margin-left: -175px;
	}
}
