*{
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif; 
}
h1 {
	font-size: 30px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 14px;
}
p{
	font-size: 25px;
}
input{
	display: none;
}
.header{
	height: 100px;
	background: #282828;
	display: flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	flex-wrap: nowrap; /* разрешить перенос строк*/
	justify-content: space-around;
}
.logo{
	width:200px;
	height: 100px;
	background: yellow;
}
.logo h2{
	text-align: center;
	line-height: 100px;
}
.navigation{
	width:600px;
	height: 100px;
}
.nav {
	list-style-type: none;
	display:flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	flex-wrap: wrap; /* разрешить перенос строк*/
	justify-content: space-between;
}
.nav a{
	display: block;
	text-decoration:none;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color: #f8f9fb;
	line-height: 100px;
}
.nav a:hover{
	color: #a8e;
}
/*=============blog==================*/
.blog{
	background: #F2F1EF;	
	padding: 100px 0px;
	border-bottom: solid 1px #DFDFDF;
}
.blog p{
	font-size: 20px;
}
.blog_container{
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-around;
	width: 1200px;
	height: 350px;
	margin: 0px auto;
}
.blog_block{
	width: 280px;
	height: 380px;
	position: relative;
	/*background: white;*/
}
.linkImg a>img{
	width: 280px;
	height: 250px;
	background-size: cover;
}
.text_block{
	padding: 5px; 
}
.top_text_block{
	width: 280px;
	position: absolute;
	top: 195px;
	color: white;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
}
.leftBlock{
	width: 100px;
	height: 30px;
}
.rightBlock{
	width: 30px;
	height: 30px;
}
span{
	background: url(pic/img-sprite.png) 0px 0px no-repeat;
    width: 24px;
    height: 24px;
}
/*============Contacts=============*/ 
.connect{
	background: #F8F8F8;	
	padding: 100px 0px;
}
.connect-block{
	margin: 0px auto;
	display: flex;
	flex-direction: row;  /*направление главной оси слева на право*/
	justify-content: space-evenly;
}
.container{
  	text-align: left;
	width: 500px;
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.2);
}
.form-title{
	text-align: center;
	padding: 20px;
}
.input{
	display: block;
	margin: 0 auto 15px auto;
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	height: 35px;
	width: 350px;
}
.btn{
	display: block;
    width: 100px;
    height: 30px;
    margin: 0px auto 20px auto;
}
/*===========Connect->contacts============*/
.contacts{
	height: 350px;
	width: 500px;
}
.contacts>h3{
  	text-align: left;
  	padding: 20px 0px
  	30px 80px;
}
.email-block{
	background: url(pic/email.png) 80px top no-repeat;
	height: 48px;
	padding-left: 150px;
	margin-bottom: 30px;
}
.email-block>a, .email-block>p, .tel-block>p{
	text-decoration: none;
	display: block;
	font-size: 16px;
}
.email-block>p, .tel-block p:nth-of-type(1){
	font-weight: bold;
	font-size: 16px;
}
.tel-block {
	background: url(pic/tel_48.png) 80px top no-repeat;
	height: 48px;
	padding-left: 150px;	
	margin-bottom: 30px;
}
.social-block{
	height: 48px;
	padding-left: 82px;
}
.social-block a{
	margin-right: 15px;
}
/*==============Footer=============*/
footer{
	height: 50px;
	background: #282828;
	text-align: center;
	line-height: 50px;
	font-family: sans-serif;
	font-size: 14px; 
	color: #fff;
}
/*==================Adaptiv=============*/
/*992px-1200px*/
@media screen and (max-width: 1200px){
	.navigation{
		width:600px;
	}
/*=============blog==================*/
	.blog_container{
		width: 992px;
	}
	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	}
/*===========Connect->contacts============*/
	.contacts{
		width: 400px;
	}
	.contacts>h3{
	 	padding: 20px 0px
		30px 80px;
	}
}
/*=====768px-992px=======*/
@media screen and (max-width: 992px){
	.logo{
		width:150px;
		height: 100px;
		background: yellow;
	}
	.navigation{
		width:500px;
		height: 100px;
	}
/*=============blog==================*/
	.blog{
		padding: 100px 0px 50px 0px;
	}
	.blog_container{
	width: 688px;
	height: 820px;
	flex-flow: wrap row;
	/*justify-content: space-around;*/
	}
	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	}
	/*============Contacts=============*/ 
	.connect-block{
		width: 750px;
	}
	.container{
		width: 350px;
	}
	.input{
    	margin: 5px auto 10px auto;
    	padding: 5px 10px;
		width: 300px;
	}
	/*===========Connect->contacts============*/
	.contacts{
		height: 350px;
		width: 350px;
	}
}
/*=====576px-768px========*/
@media screen and (max-width: 768px) {
/*======header=======*/
	.header{
		height: 50px;
		flex-direction: row-reverse;  
		justify-content: space-between;
	}
	.logo{
		width:100px;
		height: 50px;
		margin-right: 50px;
	}
	.logo h2{
		line-height: 50px;
		font-size: 20px;
	}
	.navigation{
		width: 100px;
		height: 50px;
		margin-left: 50px;
	}
	/*===========================menu-button=========================*/
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: absolute;
	/*  top: 10px;
	  left: 20px;*/
	  margin: 10px auto 10px auto;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 1;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #fff;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}
	.nav {
		display: none;
		position: absolute;
		flex-direction: column;
		flex-wrap: nowrap; 
		justify-content: space-between;
		margin-top: 50px;
	}
	.nav li{
		display: block;
		height: 20px;
		width: 100px;
		margin: 0px auto 10px auto;
	}
	.nav a{
		font-size: 20px;
		line-height: 20px;
		color: black;
	}
/*	.menu__btn:hover ~ .nav{
		display: block;
		z-index: 1000;
	}*/
/*=============blog==================*/
	.blog{
		padding: 100px 0px 50px 0px;
	}
	.blog_container{
	width: 576px;
	height: 820px;
	flex-flow: wrap row;
	/*justify-content: space-around;*/
	}
	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	}
/*============Contacts=============*/ 
.connect{
	padding: 100px 0px 50px 0px;
}
.connect-block{
	flex-direction: column;  /*направление главной оси слева на право*/
	justify-content: space-between;
	width: 350px;
	margin: 0px auto;
}
.container{
	width: 350px;
}
/*===========Connect->contacts============*/
.contacts{
	width: 350px;
}
.contacts>h3 {
    padding: 50px 0px 30px 80px;
}
}
/*=====350px-576px========*/
@media screen and (max-width: 576px) {
	.blog{
		padding: 30px 0px 30px 0px;
	}
	.blog_container{
	width: 350px;
	height: 1800px;
	flex-flow: wrap row;
	/*justify-content: space-around;*/
	}
	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
		/*top: 179px;*/
	}
}