/*=============blog==================*/
.blog{
	background: #F2F1EF;	
	padding: 50px 0px 30px 0px;
	border-bottom: solid 1px #DFDFDF;
}
.blog p{
	font-size: 20px;
}
.blog_container{
    	display: flex;
    	flex-flow: wrap row;
    	justify-content: space-evenly;
    	width: 1400px;
    	height: max-content;
    	margin: 0px auto;
}
.blog_block{
	width: 280px;
    	height: 380px;
    	padding: 10px;
    	position: relative;
    	background: white;
    	border: 1px solid silver;
    	border-radius: 10px;
    	overflow: hidden;
    	box-shadow: 3px 3px 10px 0 rgba(209,209,209,.75);
}
.linkImg a>img{
	width: 280px;
	height: 250px;
	background-size: cover;
}
.text_block{
	padding: 5px; 
}
.top_text_block{
	width: 280px;
	position: absolute;
	top: 195px;
	color: white;
	display: flex;
	flex-flow: nowrap row;
	justify-content: space-between;
}
.leftBlock{
	width: 100px;
	height: 30px;
}
.rightBlock{
	width: 30px;
	height: 30px;
}
span{
	background: url(pic/img-sprite.png) 0px 0px no-repeat;
    width: 24px;
    height: 24px;
}
/*==================Adaptiv=============*/
/*1200px-1400px*/
@media screen and (max-width: 1450px){
	.blog_container{
		width: 1050px;
	}
}
/*992px-1200px*/
@media screen and (max-width: 1220px){
/*=============blog==================*/
	.blog_container{
		width: 992px;
	}
/* 	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	} */
}
/*=====768px-992px=======*/
@media screen and (max-width: 992px){
/*=============blog==================*/
/* 	.blog{
		padding: 50px 0px 50px 0px;
	} */
	.blog_container{
		width: 688px;
		height: 820px;
		flex-flow: wrap row;
		/*justify-content: space-around;*/
	}
/* 	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	} */
}
/*=====576px-768px========*/
@media screen and (max-width: 768px) {
/*=============blog==================*/
/* 	.blog{
		padding: 100px 0px 50px 0px;
	} */
	.blog_container{
		width: 576px;
		height: 820px;
		flex-flow: wrap row;
		/*justify-content: space-around;*/
	}
/* 	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px;
	} */
}
/*=====350px-576px========*/
@media screen and (max-width: 576px) {
	.blog{
		padding: 30px 0px 10px 0px;
	}
	.blog_container{
		width: 350px;
		height: 1800px;
		flex-flow: wrap row;
		/*justify-content: space-around;*/
	}
/* 	.blog_block{
		width: 230px;
	}
	.linkImg a>img{
		width: 230px;
	}
	.top_text_block{
		width: 230px; */
		/*top: 179px;*/
	/*} */
}
